<%= form_with(model: colaborator) do |form| %>
  <% if colaborator.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(colaborator.errors.count, "error") %> prohibited this colaborator from being saved:</h2>

      <ul>
        <% colaborator.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :direction, style: "display: block" %>
    <%= form.text_field :direction %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
